<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="vendor/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- endbuild -->
</head>

<body ng-app="test2App">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">test2</a>
                </div>
                <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-controller="HeaderCtrl">
                    <ul class="nav navbar-nav">
                        <li ng-class="{ active: isActive(menuItem.path)}" ng-repeat="menuItem in activeMenuItems">
                            <a ng-href="#{{menuItem.path}}">{{menuItem.mask}}</a>
                        </li>
                        <li ng-class="{ active: role === 'parent'}">
                            <a ng-click="setRole('parent')">
                        		Parent
                        	  </a>
                        </li>
                        <li ng-class="{ active: role === 'child'}">
                            <a ng-click="setRole('child')">
                        		Child
                        	  </a>
                        </li>
                        <li>
                        Level: {{user.level}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div ng-view=""></div>
    </div>
    <div class="footer">
        <div class="container">
            It is not the critic who counts; not the man who points out how the strong man stumbles, or where the doer of deeds could have done them better. The credit belongs to the man who is actually in the arena, whose face is marred by dust and sweat and blood; who strives valiantly; who errs, who comes short again and again, because there is no effort without error and shortcoming; but who does actually strive to do the deeds; who knows great enthusiasms, the great devotions; who spends himself in a worthy cause; who at the best knows in the end the triumph of high achievement, and who at the worst, if he fails, at least fails while daring greatly, so that his place shall never be with those cold and timid souls who neither know victory nor defeat.
        </div>
    </div>
    <!-- bower:js -->
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-cookies/angular-cookies.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/angular-touch/angular-touch.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.js"></script>
    <script src="vendor/angular-ui-sortable/sortable.js"></script>
    <script src="vendor/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="vendor/angular-xeditable/dist/js/xeditable.js"></script>
    <!-- endbower -->

    <script src="app/app.js"></script>

    <!-- filters -->
    <script src="app/filters/date.js"></script>
    <!-- endfilters -->

    <!-- controllers -->
    <script src="app/controllers/header.js"></script>
    <script src="app/controllers/main.js"></script>
    <script src="app/controllers/about.js"></script>
    <script src="app/controllers/child/bank.js"></script>
    <script src="app/controllers/child/work.js"></script>
    <script src="app/controllers/child/store.js"></script>
    <script src="app/controllers/parent/bank.js"></script>
    <script src="app/controllers/parent/work.js"></script>
    <script src="app/controllers/parent/store.js"></script>
    <!--endcontrollers-->
    <!--services-->
    <script src="app/services/user.js"></script>
    <script src="app/services/awards.js"></script>
    <script src="app/services/chores.js"></script>
    <script src="app/services/transactions.js"></script>
    <script src="app/services/products.js"></script>
    <!-- endservices -->
    <!-- endbuild -->

</body>

</html>
